rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    match /assets/{assetId} {
      allow read: if isSignedIn();
      // Allow creation and update for signed-in users
      allow write: if isSignedIn(); 
    }

    match /assets/{assetId}/intercepts/{interceptId} {
      allow read: if isSignedIn();
      // Allow creation of intercepts for signed-in users
      allow create: if isSignedIn();
      allow write: if isSignedIn();
    }

    match /ingestion_logs/{logId} {
      allow read: if isSignedIn();
    }
  }
}
